* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}

body {
  background-image: url("../../assets/home/background-home-desktop.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  color: white;
}

footer {
  padding: 2vh 5%;
  background-color: #0b0d19;
  text-align: center;
}

footer a {
  color: rgb(69, 77, 69);
}

/* responsive  */

@media screen and (max-width: 775px) {
  body {
    background-image: url("../../assets/home/background-home-mobile.jpg");
  }
}
